{% extends "layout.html" %}
{% block title %}
Admin Dashboard
{% endblock %}
{% block content %}

    <h2><a href="/admin/dump">Here's a link to download the database contents!</a></h2>
    <p>In case you'd prefer to do your own analysis, the above link downloads the entire database's contents as a big excel file.</p>

    {% for table_data in table_datas %}
        <h2>{{ table_data['label'] }}</h2>
        {{ table_data['description'] }}
        <table class="table">
            <thead>
                <tr>
                    {% for head in table_data['header'] %}
                        <th>{{ head }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data['data'] %}
                    <tr>
                        {% for item in row %}
                            {% if item is mapping %}
                                <td><a href="{{ item['link'] }}">{{ item['content'] }}</a></td>
                            {% else %}
                                <td>{{ item }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}